.pokertable{
    width: 1000px;
    height: 600px;
    background-image: url("/images/table/table-ps.png");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;  
    top:119px;
 }
.table_pot{
    position: relative;
    top: -1181px;
    left: 12px;
    color: #f0a20d;
    height: 70px;
}  
.control_btn{
    position: relative;
    top: 58px;
    display: block;
    left: 598px;
}
.table_cards{
    position: relative;
    top: -1185px;
    left: 406px;
}
.table_cards_item{
    position: relative;  
    margin-right: 2px;
    display: inline;
}
.total_chips{
    position: relative;  
    top: -6px;
    left: 0px;
}
.chips_total_item{
    position: relative;
    top: 41px;
    left: -396px;
    display: inline;
}
.start_game_btn{
    position: relative;
    top: 197px;
    left: 425px;
} 
.chips_player_item_all{
    margin-top: -22px;
}
.chips_place_all{
    margin-block: 34px;
}
    .place1{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -103px;
    left: 440px;
    }
    .place1_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place1_button{
        position: absolute;   
        top: 140px;
        left: -30px;
    }
    .place1_total_bet{
        position: absolute;
        top: 194px;
        left: 10px;
        font-weight: bold;
        color: #f0a20d;
    }

    .place2{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -207px;
    left: 728px;
    }
    .place2_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place2_button{
        position: absolute;  
        top: 136px;
        left: -31px;
    }
    .place2_total_bet{
        position: absolute;
        top: 191px;
        left: 7px;
        font-weight: bold;
        color: #f0a20d;
    }

    .place3{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -231px;
    left: 937px;
    }
    .place3_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place3_button{
        position: absolute;   
        top: 129px;
        left: -39px;
    }
    .place3_total_bet{
        position: absolute;
        top: 148px;
        left: -67px;  
        font-weight: bold;
        color: #f0a20d;
    }

    .place4{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -136px;
    left: 952px;
    }
    .place4_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place4_button{
        position: absolute;
        top: 27px;
        left: -40px;
    }
    .place4_total_bet{
        position: absolute;
        top: 29px;
        left: -83px;
        font-weight: bold;
        color: #f0a20d;
    }

    .place5{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -137px;
    left: 728px;
    }
    .place5_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place5_button{
        position: absolute;  
        top: 1px;
        left: 2px;
    }
    .place5_total_bet{
        position: absolute;
        top: -39px;
        left: 7px;
        font-weight: bold;
        color: #f0a20d;
    }

    .place6{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -223px;
    left: 440px;
    }
    .place6_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place6_button{
        position: absolute;    
        top: -11px;
        left: 8px;
    }
    .place6_total_bet{
        position: absolute;
        top: -38px;
        left: 7px;
        font-weight: bold;
        color: #f0a20d;
    }

    .place7{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -383px;
    left: 142px;
    }
    .place7_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place7_button{
        position: absolute;  
        top: -8px;
        left: 125px;
    }
    .place7_total_bet{
        position: absolute;
        top: -41px;
        left: 64px;
        font-weight: bold;
        color: #f0a20d;
    }

    .place8{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -655px;
    left: -118px;
    }
    .place8_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place8_button{
        position: absolute;   
        top: 36px;
        left: 187px;
    }
    .place8_total_bet{
        position: absolute;
        top: 26px;
        left: 194px;
        font-weight: bold;
        color: #f0a20d;
    }

    .place9{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -1000px;
    left: -102px;
    }
    .place9_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place9_button{
        position: absolute;    
        top: 121px;
        left: 177px;
    }
    .place9_total_bet{
        position: absolute;
        top: 139px;
        left: 179px;
        font-weight: bold;
        color: #f0a20d;
    }

    .place10{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -1246px;
    left: 142px;
    }
    .place10_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place10_button{
        position: absolute;   
        top: 137px;
        left: 127px;
    }
    .place10_total_bet{
        position: absolute;
        top: 190px;
        left: 64px;
        font-weight: bold;
        color: #f0a20d;
    }

.box_card{  
    position: relative;
    display: inline-block;
    left: 40px;
    height: 65px;
}
.inform_tablo_l{
    background-image: url("/images/table/tablo-l-new.png");
    background-repeat: no-repeat, repeat;
    height: 55px;
    /*width: 200px;*/
    margin-top:-7px;
}

.round_l {
    position: relative;
    top:2px;
    left: 2px;
    border-radius: 100px; 
    box-shadow: 0 0 0 3px grey, 0 0 13px #333;
    width:60px;
    height:60px;
}
 
.name_info{
    position: relative;
    top: -56px;
    left: 69px;
    color: rgb(246, 250, 246);
}

.money_info{
    position: relative;
    top: -57px;
    left: 68px;
    font-weight: bold;
    color: #f0a20d;
}
.name_money_info{
    position: relative;
    display: inline;
}

.img{
    position: relative;
    top: -9px;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    display: inline;
}


.activ_player {
    animation: blink 1.0s infinite;
    border-radius:50px;
}
@keyframes blink {
    from { box-shadow: -10px -10px -10px 0px #f7f7f7/*, 0 0 10px #f7f7f7*/;  }
    to { box-shadow: 0px 0px 15px 5px #eaed13;  }
}

.win_player{
    box-shadow: 0px 0px 15px 5px darkred;
}
.win_player_card1 {
    animation: win1 1.0s infinite;
    box-shadow: -5px -5px 5px 0px darkred; 
}
.win_player_card2 {
    animation: win1 1.0s infinite;
    box-shadow: -5px -5px 5px 0px darkred; 
}
@keyframes win1 {
    from { box-shadow: 0px 0px 5px 5px lightcoral;  }
    to { box-shadow: 0px 0px 5px 5px darkred;  }
}

.win_card{ 
    animation: win_table 5s ease 2s 1;
    box-shadow: 0px -2px 5px 5px darkred;
}
@keyframes win_table {
    from { box-shadow: 0px -2px 5px 5px  lightcoral;top: -9px;  }
    to { box-shadow: 0px -2px 5px 5px darkred;top: -55px;  }
}

.divtest{
    height: 65px;
}
.combination_name{
    width: 229px;
    text-align: center;
}

.show_action{
    position: relative;
    top: -3px;
    left: -23px;
    font-weight: bold;
    color: #f0a20d;
    display: inline;
}



.place_win_chips_1{ 
    animation: a_place_win_chips_1 2.0s ease-in-out 0s 1;
    position: relative;
    top: -10px;
    left: 83px;
    visibility: hidden;
   /* transform: translate3d(150px, 100px, 0px);*/
}
 
@keyframes a_place_win_chips_1 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        visibility: visible;
    }
    100% {
        transform: translate3d(-46px, -253px, 0px);
    }
}

.place_win_chips_2{ 
    animation: a_place_win_chips_2 2.0s ease-in-out 0s 1;
    position: relative;
    top: -10px;
    left: 83px;
    visibility: hidden;
}
 
@keyframes a_place_win_chips_2 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        visibility: visible;
    }
    100% {
        transform: translate3d(236px, -231px, 0px);
    }
}

.place_win_chips_3{ 
    animation: a_place_win_chips_3 2.0s ease-in-out 0s 1;
    position: relative;
    top: -10px;
    left: 83px;
    visibility: hidden;
}
 
@keyframes a_place_win_chips_3 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        visibility: visible;
    }
    100% {
        transform: translate3d(450px, -127px, 0px);
    }
}

.place_win_chips_4{ 
    animation: a_place_win_chips_4 2.0s ease-in-out 0s 1;
    position: relative;
    top: -10px;
    left: 83px;
    visibility: hidden;
}
 
@keyframes a_place_win_chips_4 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out; 
        visibility: visible;
    }
    100% {
        transform: translate3d(380px, 15px, 0px);
    }
}

.place_win_chips_5{ 
    animation: a_place_win_chips_5 2.0s ease-in-out 0s 1;
    position: relative;
    top: -10px;
    left: 83px;
    visibility: hidden;
}
 
@keyframes a_place_win_chips_5 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        visibility: visible;
    }
    100% {
        transform: translate3d(196px, 95px, 0px);
    }
}

.place_win_chips_6{ 
    animation: a_place_win_chips_6 2.0s ease-in-out 0s 1;
    position: relative;
    top: -10px;
    left: 83px;
    visibility: hidden;
}
 
@keyframes a_place_win_chips_6 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        visibility: visible;
    }
    100% {
        transform: translate3d(-49px, 100px, 0px);
    }
}


.place_win_chips_7{ 
    animation: a_place_win_chips_7 2.0s ease-in-out 0s 1;
    position: relative;
    top: -10px;
    left: 83px;
    visibility: hidden;
}
 
@keyframes a_place_win_chips_7 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        visibility: visible;
    }
    100% {
        transform: translate3d(-270px, 77px, 0px);
    }
}

.place_win_chips_8{ 
    animation: a_place_win_chips_8 2.0s ease-in-out 0s 1;
    position: relative;
    top: -10px;
    left: 83px;
    visibility: hidden;
}
 
@keyframes a_place_win_chips_8 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        visibility: visible;
    }
    100% {
        transform: translate3d(-445px, -14px, 0px);
    }
}

.place_win_chips_9{ 
    animation: a_place_win_chips_9 2.0s ease-in-out 0s 1;
    position: relative;
    top: -10px;
    left: 83px;
    visibility: hidden;
}
 
@keyframes a_place_win_chips_9 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        visibility: visible;
    }
    100% {
        transform: translate3d(-437px, -143px, 0px);
    }
}

.place_win_chips_10{ 
    animation: a_place_win_chips_10 2.0s ease-in-out 0s 1;
    position: relative;
    top: -10px;
    left: 83px;
    visibility: hidden;
}
 
@keyframes a_place_win_chips_10 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
        visibility: visible;
    }
    100% {
        transform: translate3d(-343px, -220px, 0px);
    }
}
.chips_total_win_item{
    position: relative;
    top: -10px;
    left: 0px;
    display: inline;
}
.sum_win_pot{
    position: relative;
    top: 3px;
    left: -55px;
    display: inline;
    font-weight: bold;
    color: #f0a20d;
}