.pokertable{
    width: 1000px;
    height: 600px;
    background-image: url("/images/q/table-ps.png");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;  
    top:119px;
 }
.table_pot{
    position: relative;
    top: -1181px;
    left: 12px;
    color: #f0a20d;
}  
.control_btn{
    position: relative;
    top: 58px;
    display: block;
    left: 598px;
}
.table_cards{
    position: relative;
    top: -1185px;
    left: 406px;
}
.table_cards_item{
    position: relative;  
    margin-right: 2px;
    display: inline;
}
.total_chips{
    position: relative;  
    top: -6px;
    left: 0px;
}
.chips{
    position: relative;
    top: 41px;
    left: -396px;
    display: inline;
}
 
    .place1{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -103px;
    left: 440px;
    }
    .place1_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place2{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -207px;
    left: 728px;
    }
    .place2_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place3{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -231px;
    left: 937px;
    }
    .place3_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place4{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -136px;
    left: 952px;
    }
    .place4_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place5{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -137px;
    left: 728px;
    }
    .place5_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place6{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -223px;
    left: 440px;
    }
    .place6_chips{
        position: relative;    
        top: 5px;
        left: 0px;
    }
    .place7{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -383px;
    left: 142px;
    }
    .place7_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place8{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -655px;
    left: -118px;
    }
    .place8_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place9{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -1000px;
    left: -102px;
    }
    .place9_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
    .place10{
    position: relative;    
    height: 130px;
    width: 170px;
    top: -1246px;
    left: 142px;
    }
    .place10_chips{
        position: relative;    
        top: 5px;
        left: 0px;
        width: 132px;
    }
.box_card{  
    position: relative;
    display: inline-block;
    left: 40px;
    height: 65px;
}
.inform_tablo_l{
    background-image: url("/images/q/tablo-l-new.png");
    background-repeat: no-repeat, repeat;
    height: 55px;
    width: 200px;
    margin-top:-7px;
}

.round_l {
    position: relative;
    top:2px;
    left: 2px;
    border-radius: 100px; 
    box-shadow: 0 0 0 3px grey, 0 0 13px #333;
    width:60px;
    height:60px;
}
 
.name_info{
    position: relative;
    top: -56px;
    left: 69px;
    color: rgb(246, 250, 246);
}

.money_info{
    position: relative;
    top: -57px;
    left: 68px;
    font-weight: bold;
    color: #f0a20d;
}
.name_money_info{
    position: relative;
    display: inline;
}

.img{
    position: relative;
    top: -9px;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    display: inline;
}
